#cy {
    height: 85%;
    width: 100%;
    position: absolute;
    z-index: 0;
    left: 0; 
    top: 15%; 
}

#search {
    background-color: slategray;
}

#text-container{
    color: white;
    font-size: 10px;  
}

#cid-title {
    color: white;
}

@media (max-width: 576px) {

    #search-btn {
        width: 100%;
    }

    #cid-box {
        margin-right: 0 !important; 
    }
}